.admin__form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.admin__form > input {
  font-family: "Roboto";
  padding: 3px 7px;
  font-size: 19px;
  outline: none;
  border: none;
  border: 2px solid black;
  border-radius: 10px;
  font-weight: 400;
  transition: all 0.3s;
}
.admin__form > input:focus {
  border: 2px solid #ff003c;
}
.admin__form > button {
  font-family: "Roboto";
  background-color: black;
  color: white;
  border: none;
  font-size: 19px;
  width: fit-content;
  padding: 3px 7px;
  margin-top: 20px;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 400;
}

@media all and (max-width: 500px) {
  .admin__form > input {
    padding: 3px 7px;
    font-size: 16px;
    border: 2px solid black;
    border-radius: 3px;
  }
  .admin__form > button {
    font-size: 16px;
    width: fit-content;
    padding: 5px 10px;
    margin-top: 20px;
    border-radius: 3px;
  }
}
